nav {
  background-color: blue;
  color: white;
  padding: 10px;
}
nav ul {
  list-style: none;
}
nav li {
  display: inline;
  margin-left: 30px;
}
.hero {
  width: 100%;
}
body {
  background-color: lightgray;
}
main {
  background-color: white;
  width: 80%;
  border-top: 4px solid red;
  margin-lefet: 15%;
}
main:: after {
  clear: both;
  content: '';
  display: block;
}
article {
  width: 50%;
  float: left;
  margin: 0;
}
article img {
  width: 90%;
}
